{{!-- The || array in the each statement cannot be the same as the column name being called from the model --}}
{{#each comments as |comments|}}

<div class="card m-4">
  <div class="card-body">

    {{!-- Figure out how to get the user id to pull in the actual name of the user posting the comment: --}}
    <h5 class="card-title">{{user.username}}</h5>
    <p class="card-text">{{comment}}</p>
  </div>
</div>

{{/each}}