<h1 class = "m-3">YOUR POSTS:</h1>

<div>
    <div class = "m-5">
        {{#each posts as |post|}}

        {{!-- Loop through the data and put into the partial that is built for the template: --}}
        {{> post-template}}
        {{!-- Build a page to edit the post. Will need a reference to bring up this post as a get request in the api post routes,
        a handlebars page for the edit form, a javascript page to handle to form submission which will then connect to the postRoute api update --}}
        <a href="/api/posts/editpost/{{post.id}}" class="btn btn-primary">EDIT</a>
    
        {{/each}}
    </div>   
</div>




